.App {
  text-align: left;
  background-color: #1E1F26;
 
  color: whitesmoke;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
  max-width: 100ch;
}
.App-header {
  /* background-color: #282c34; */
 
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.container {
  flex-basis: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.preview {
  background-color: white;
  color: black;
  height: 400px;
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  font: medium -moz-fixed;
  font: -webkit-small-control;
  /* overflow: auto; */
  padding: 2px;
  /* resize: both; */
  /* width: 400px; */
}

.preview img {
  max-width: 40%;
}

#editor {
  height: 400px;
  background-color: #1D1E22;
  color: #DDCA7E;
  /* margin-top: 5px; */
    /* padding: 0.6em; */
    /* border: 1px solid #ccc; */
    /* overflow: auto; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}

#editor:focus {
  height: 400px;
  /* outline: none !important; */
  /* padding: 2px; */
  background-color: #1D1E22;
  /* border:1px solid red; */
  /* box-shadow: 0 0 10px #719ECE; */
  color: #DDCA7E;
}

